:root {

  --headingFont: 'Lexend', sans-serif;
  --bodyFont: 'DM Sans', sans-serif;

}

body {
  font-family: var(--bodyFont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
}

/* Custom Classes */

.heading {
  font-family: var(--headingFont);
}