:root {

  /* Custom variables */

  --headingFont: 'Lexend', sans-serif;
  --bodyFont: 'DM Sans', sans-serif;

  /* bootstrap variable overrides */

  --bs-body-bg: #f5f4fc;
  --bs-light-rgb: 255, 255, 255;
  --bg-light: #ffffff;
  --bs-dark-rgb: 4, 8, 15;
  --bs-primary-rgb: 103, 63, 205;
  --bs-info-rgb: 194, 232, 18;

}

/* Fonts */

body {
  font-family: var(--bodyFont);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: var(--headingFont);
}

/*Boostrap Overrides*/

.btn-secondary {
  background-image: -o-linear-gradient(357.12deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  --bs-btn-border-color: #4957bb;
  --bs-btn-hover-border-color: #4957bb;
}

.btn:hover,
.btn-secondary:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 30px;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}

.btn-outline-light {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
}

.btn-info {
  --bs-btn-bg: #c2e812;
  --bs-btn-border-color: #c2e812;
  --bs-btn-hover-bg: #d8fe2b;
  --bs-btn-hover-border-color: #c2e812;
  --bs-btn-active-bg: #c2e812;
  --bs-btn-active-border-color: #c2e812;
  --bs-btn-disabled-bg: #c2e812;
  --bs-btn-disabled-border-color: #c2e812;
}

.sticky-top {
  top: 25px;
}

/* Custom Classes */

.ls {
  letter-spacing: 2px;
}

.explainer {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio-image {
  height: 250px
}

.invert-100 {
  -webkit-filter: invert(1);
  filter: invert(1)
}

.showcase {
  max-height: 450px;
}